<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwGfNAMGF4rtGxT39xuYFffCCRc03y3fY</string>
	<key>GCM_SENDER_ID</key>
	<string>868335486548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahalah.rahalahApp</string>
	<key>PROJECT_ID</key>
	<string>rahalah-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rahalah-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868335486548:ios:702bb77a9b9936add0cfc1</string>
</dict>
</plist>